.filter{
    padding:10px;
    border: 4px solid #DDD;
    border-bottom: none;
    background-color: white;
}
.filter > span {
    padding:5px;
    padding-bottom: 0px;
}

.off, .on{
    padding:2px 5px;
}
.on{
    background-color: grey;
    color: white;
}
.on a{
    color: white;
}

body{
    font-size:14px;
    margin: 0px;
    font-family:Arial;
    background-color:#EEE;
}

h1{
    margin-bottom: .2em;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

nav {
    border-bottom: 4px solid #DDD;
    margin-bottom: 20px;
    background-color: white;
}

nav ul {
    margin: 0;
    list-style: none;
    padding: 0px;
}

#content {
    margin: 10px;
}
div#logo{
    font-weight: bold;
}
div#logo, nav li {
    float: left;
    padding: 10px 10px;
    border-bottom: 4px solid transparent;
}

nav li.current {
    border-bottom: 4px solid red;
}
.list {
    border: 4px solid #DDD;
    background-color: white;
}
.list > div{
    padding:10px;
    border-bottom: 1px solid #DDD;
}
.list > div:last-child{
    border-bottom: none;
}
.actions, .date {
    color: grey;
}
.add-action a, .fa-plus{
    color:red;
}
/* form */

form > table {
    padding: 10px;
    background: #FFF;
    border: 4px solid #DDD;
    display:inline-block;
}

form td {
}
textarea{
    width:500px;
}
select[multiple] {
    height: 170px;
}
/* messages */
.flash{
    padding: 5px;
    background: #FFF;
    font-style:italic;
    margin: 5px;
}
.flash-warning{
    border: 5px solid red;
}

.flash-notice{
    border: 5px solid green;
}
/* system fixes */
.cf:after {
    content: "";
    display: table;
    clear: both;
}

/* buttons */

.fa {
}

.fa-check{
    color:green;
}

.fa-pencil{
    color:orange;
}


