body{
    font-size:14px;
    font-family:Arial;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

nav {
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    list-style: none;
    padding: 0px;
}

div#logo{
    font-weight: bold;
}
div#logo, nav li {
    float: left;
    padding: 10px 10px;
    border-bottom: 4px solid transparent;
}

nav li.current {
    border-bottom: 4px solid red;
}

.list > div{
    padding:10px;
    border-top: 1px solid #DDD;
}
.list > div:last-child{
    border-bottom: 1px solid #DDD;
}

.add-action a, .fa-plus{
    color:red;
}
/* form */

form > table {
    padding: 10px;
    background: #EEE;
    border: 1px solid #BBB;
    display:inline-block;
}

form td {
}
textarea{
    width:500px;
}
/* messages */
.flash{
    padding: 5px;
    font-style:italic;
    margin: 5px;
}
.flash-warning{
    border: 5px solid red;
}

.flash-notice{
    border: 5px solid green;
}
/* system fixes */
.cf:after {
    content: "";
    display: table;
    clear: both;
}

/* buttons */

.fa {
}

.fa-check{
    color:green;
}

.fa-pencil{
    color:orange;
}

    
