{% extends "TsdGtdBundle::base.html.twig" %}

{% block title %} Add action {%if project is defined%}
    ({{project.name}})
    {%endif%}
{% endblock %}

{% block heading %}Add action
    {%if project is defined%}
    to '<a href="{{ path('tsd_gtd_project_view', {'id': project.id}) }}">{{ project.name }}</a>'
    {%endif%}
{% endblock %}


{% block content %}
    {{ form(form) }}
{% endblock %}
