{% extends "TsdGtdBundle::base.html.twig" %}
{% block content %}
<h1>Actions <a href="{{ path('tsd_gtd_action_add') }}"><i class="fa fa-plus"></i></a></h1>
{% from 'TsdGtdBundle::filter.html.twig' import filter %}
{{ filter(contexts, 'action') }}
<div class="list">
{% for action in actions %}
    {% include 'TsdGtdBundle:Action:item.html.twig' %}
{% endfor %}
</div>
{% endblock %}
