{% extends "TsdGtdBundle::base.html.twig" %}
{% block content %}
<h1>Actions</h1>
<div class="list">
{% for action in actions %}
    {% include 'TsdGtdBundle:Action:item.html.twig' %}
{% endfor %}
</div>
{% endblock %}
