{% extends "TsdGtdBundle::base.html.twig" %}
{% block heading %}Actions <a href="{{ path('tsd_gtd_action_add') }}"><i class="fa fa-plus"></i></a>{% endblock %}
{% block content %}
{% from 'TsdGtdBundle::filter.html.twig' import filter %}
{{ filter(contexts, 'action') }}
<table class="table">
{% for action in actions %}
    <tr><td>
    {% include 'TsdGtdBundle:Action:item.html.twig' %}
    <td><tr>
{% endfor %}
</table>
{% endblock %}
