{% extends "TsdGtdBundle::base.html.twig" %}
{% block heading %}Add project{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8">
        {{ form(form) }}
    </div>
    <div class="col-sm-4">
       hello
    </div>
</div>
{% endblock %}


