{% extends "TsdGtdBundle::base.html.twig" %}
{% block content %}
<h1>{{ project.name }} <a href="{{ path('tsd_gtd_project_edit', {'id': project.id}) }}"><i class="fa fa-pencil"></i></a></h1>
<div class="list">
{% for action in project.actions %}
    {% include 'TsdGtdBundle:Action:item.html.twig' %}
{% endfor %}
</div>
{% endblock %}
