<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}GTD{% endblock %}</title>
</head>
{% stylesheets '@TsdGtdBundle/Resources/public/css/*' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" href="/bundles/tsdgtd/font-awesome-4.0.3/css/font-awesome.min.css" />
<body>
<nav><div id="logo">GTD</div>{{ knp_menu_render('TsdGtdBundle:Builder:mainMenu') }}</nav>

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash flash-{{ type }}">
        {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}

<div id="content">
    <h1>{% block heading %}Heading{% endblock %} </h1>{% block content %}
{% endblock %}
</div>
<div id="footer">
{% block footer %}
{% endblock %}
</div>
</body>
</html>
