{% extends "::base.html.twig" %}
{% block heading %}Add project tag{% endblock %}

{% block title %}TsdGtdBundle:Stuff:Edit{% endblock %}

{% block body %}
<h1>Welcome to the Stuff:Edit page</h1>
{% endblock %}
